<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        max-width: 400px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        text-align: center;
        margin-bottom: 20px;
      }

      input[type='text'],
      input[type='password'] {
        width: 95%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      button {
        width: 50%;
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        margin: 5px auto;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
      }

      .register-button {
        background-color: #2196f3;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form>
        <input type="text" placeholder="Username" required />
        <input type="password" placeholder="Password" required />
        <button type="submit">Login</button>
        <button type="button" class="register-button">Register</button>
      </form>
    </div>
  </body>
</html>
